* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.header {
    min-height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
    padding-right: 230px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons.right {
    width: 250px;
}

.icons.left {
    width: 150px;
}

.top_content {
    background-color: #F1E4E6;
    height: 764px;
    background-repeat: no-repeat;
    display: flex;
}

.top_left {
    width: 50%;
    height: 100%;
}

.top_left img {
    height: 100%;
}

.top_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_text {
    margin-left: 16px;
}

.text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 36px;
    color: #222222;
}

.smaller {
    font-size: 32px;
    line-height: 18px;
}

.red {
    color: #F16D7F;
}

.big {
    font-size: 24px;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    padding-top: 45px;
}

.long {
    grid-area: 2 / 1 / span 1 / span 3;
}

.cat_card {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;

}

.women {
    background-image: url(img/women.png);
}

.men {
    background-image: url(img/men.png);
}

.kids {
    background-image: url(img/kids.png);
}

.long {
    background-image: url(img/accesories.png);
    margin-left: 11px;
    margin-right: 11px;

    /* как сделать лучше? чтобы края его были на одном уровне по оси х с краями верхних карточек */
}

.cat_card_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #222222;
    font-family: 'Lato';
}

h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.items_text {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.items_card_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
    margin-top: 16px;
}

.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
    margin-top: 16px;
}

.items_card {
    width: 360px;
    padding-bottom: 19px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}

.items_card img {
    width: 100%;
}

.items_container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    justify-content: space-around;
    align-items: center;
}

.browse {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;

}

.browse_button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    width: 210px;
    height: 50px;
    background-color: white;
}

.items_card_text,
.price {
    margin-left: 15px;
    margin-right: 15px;
}

.items_card h2 {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .header {
        padding-left: 50px;
        padding-right: 65px;
    }

    .top_content {
        height: 368px;
    }

    .text {
        font-size: 44px;
    }

    .smaller {
        font-size: 24px;
    }

    .categories {
        padding-left: 16px;
        padding-right: 16px;
    }

    .long {
        margin-left: 0px;
        margin-right: 0px;
    }

    .men,
    .women {
        margin-right: 19px;
    }

    .items_container {
        margin-top: 73px;
    }

    .items_card {
        margin-bottom: 17px;
    }

    .browse {
        margin-top: 32px;
        margin-bottom: 71px;
    }

}

@media (max-width: 767px) and (min-width: 320px) {

    .lk,
    .buy,
    .top_left {
        display: none;
    }

    .header {
        padding-left: 0px;
        padding-right: 0px;
    }

    .right {
        width: 140px;
    }

    .top_content {
        height: 363px;
    }

    .text {
        font-size: 35px;
        line-height: 23px;
    }

    .smaller {
        font-size: 18px;
    }

    .top_right {
        width: 100%;
    }

    .top_text {
        margin-left: 8px;
        margin-top: 9px;
    }

    .top_right img {
        height: 15%;
        width: 3%;
    }

    .categories {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1040px;
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .cat_card {
        min-height: 250px;
    }

    .long {
        min-height: 111px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .items {
        margin-top: -55px;
        padding-left: calc(50% - 155px);
        padding-right: calc(50% - 155px);
    }
}